/*Name this external file gallery.css*/

.heading {
    text-align: center;
    font-family: sans-serif;
}

body {
	margin: 2%;
	background-color: #e8e8e8;
}

#image {
    line-height: 680px;

	width: 648px;
    height: 364px;

	border: 5px solid black;

	margin: 0 auto;
    margin-bottom: 25px;

    background: rgba(40,150,24,0.8) url('') center/100% no-repeat;

    color: #fff;
    font-size: 150%;

    text-align: center;
}

.preview {
	width: 10%;
	margin-left: 17%;
    border: 10px solid black;
}

img{
    width:95%;
}